[submodule "bundle/neobundle.vim"]
  path = bundle/neobundle.vim
  url = https://github.com/Shougo/neobundle.vim
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
